# GitHub Cli
## hosts.yml contains oAuth token
config/gh/hosts.yml


# Vi. Vim, and whatnot
config/nvim/plugged
config/nvim/autoload/plug.vim.old
config/nvim/backups/
config/nvim/.netrwhist
config/coc/extensions/

# VsCode
config/Code/
!config/Code/User/Setting.json
!config/Code/User/Keybindings.json

# VsCode - Insiders
config/Code - Insiders/
!config/Code - Insiders/User/Setting.json
!config/Code - Insiders/User/Keybindings.json

# NuGet
config/NuGet/nuget.config

# Client OS
.DS_Store

# ? 

baloofilerc

mimeapps.list
monitors.xml*
user-dirs.*
gnome-initial-setup-done

config/BraveSoftware/
config/configstore/
config/dconf/
config/discord/
config/enchant/
config/evolution/
config/gedit/
config/GitKraken/
config/gtk-3.0/
config/gnome-control-center/
config/ibus/
config/obs-studio/
config/pulse/