[core]
  editor = nvim
[user]
  name  = MarvTheRobot
  email = noone@marvtherobot.com
[includeIf "gitdir:~/code/marv/"]
  path = "~/.config/git/marv.gitconfig"
[includeIf "gitdir:~/code/work/"]
  path = "~/.config/git/work.gitconfig"
[pull]
	ff = only
[push]
	default = current
[core]
	excludesFile = ~/.gitignore
[alias]
	pr = "!f() { exec az repos pr \"$@\"; }; f"
	repo = "!f() { exec az repos \"$@\"; }; f"
